<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80632759567-3p9hqe016jvbkk4017nerhrc772dqnnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80632759567-3p9hqe016jvbkk4017nerhrc772dqnnv</string>
	<key>API_KEY</key>
	<string>AIzaSyCxAKY5s4bB9qC6Oomu3pMfR2g7eGPuEx8</string>
	<key>GCM_SENDER_ID</key>
	<string>80632759567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leifu.com.resomate</string>
	<key>PROJECT_ID</key>
	<string>resomate-bd922</string>
	<key>STORAGE_BUCKET</key>
	<string>resomate-bd922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80632759567:ios:7e516018e180f4786d6a7a</string>
	<key>DATABASE_URL</key>
	<string>https://resomate-bd922.firebaseio.com</string>
</dict>
</plist>